@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #ff0055;
    --cor2: #00f0ff;
    --cor-texto: #12121ad9;
    --fonte-principal: "Orbitron", sans-serif; 
}